<nav class= "navbar"> 
	<ul class= "nav-list">
		<li class= "nav-item">
			<a href="/" class="nav-link">Home</a>
		</li>
		<li class= "nav-item">
			<a href="./user" class="nav-link">User</a>
		</li>
		<li class= "nav-item">
			<a href="./log" class="nav-link">Log</a>
		</li>
	</ul>
</nav>