<body>
	<div class= "timer-main">
	<div class= "timer-element center-align">
		<div class="timer-base center-align">
			<svg class="timer-base-svg" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
				<g class="timer-base-circle"> 
					<circle class="timer-base-path-elapsed" cx="50" cy="50" r="45"/>
				</g>
			</svg>
			<div class="timer-base__label">
				<span class= "timer__part timer-base__minutes" id="timerBaseMins"> hello </span>
				<span class = "timer__part">:</span>
				<span class="timer__part timer-base__seconds"> 00 </span>
			</div>
			<button type="button" class="timer-bttn timer-bttn-left timer-bttn__control timer-bttn__start">
	        <span class="material-symbols-rounded"> play_arrow </span>
	      	</button>
			<button type="button" class="timer-bttn timer-bttn-right timer-bttn__reset"> 
			  <span class="material-symbols-rounded"> replay </span>
			</button>  
			</div>
		</div>
	</div>
</body>
